[submodule "TimerMod"]
	path = TimerMod
	url = https://github.com/Knerio/TimerMod
[submodule "Randomizer-Mod"]
	path = Randomizer-Mod
	url = https://github.com/Knerio/Randomizer-Mod
[submodule "Simple-Chals-Backend"]
	path = Simple-Chals-Backend
	url = https://github.com/Knerio/Simple-Chals-Backend
