[submodule "TimerMod"]
	path = TimerMod
	url = https://github.com/Knerio/TimerMod
[submodule "RandomizerMod"]
	path = RandomizerMod
	url = https://github.com/Knerio/Randomizer-Mod
[submodule "Backend"]
	path = Backend
	url = https://github.com/Knerio/Simple-Chals-Backend
